<!-- <h2 mat-dialog-title>Popup Title</h2>
<mat-dialog-content>
  <p>This is the content of the popup!</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions> -->


<div class="container" >
    <div class="titel">
        <img src="../../assets/makeflix-logo.png" width="500px" height="150px">
    </div>
    <div class="overview-container">
        <p class="overview-content">
            a web application that uses AI to generate personalized "Netflix-like" movie posters for your partner, family, and friends. 
            You can later print and frame these posters for display.
            For example:
        </p>
    </div>
</div>
<div class="example-container">
  <img src="../../assets/makeflix-ex-1.png" class="example-img">
  <img src="../../assets/makeflix-ex-2.png" class="example-img">
  <img src="../../assets/makeflix-ex-3.png" class="example-img">

</div>
<div class="button-container">
  <button>go to makeflix</button>
</div>