.container{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    width: 700px;
}
.container-dm{
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    width: 700px;
}
.header-container{
    display: flex;
    justify-content: center;
}
.menu-container{
    display: flex;
    justify-content: center;
    margin: 0;
}
.menu-content{
    display: flex;
    justify-content: center;
}