<div class="container" [ngStyle]="{'color': (isDarkMode|async) ? 'white' : 'black'}">
    <p class="about-me-text">Hey there! my name is Kevin Maarek,<br>
         and programming has been my true life passion for<br>
          as long as I can remember(Alongside my love for Formula 1 races) <br>
    diving into the world of computers has been an exhilarating journey for me. <br>
    From self-teaching to exploring new horizons, I've devoted myself to constantly<br>
     expanding my knowledge in the realm of technology and programming.<br><br>

    In 2023, I embarked on the journey of learning front-end development,<br>
     and since then, I've been consistently <br>
    honing my skills in my free time, all while balancing<br>
     my day job as an SQL programmer. <br>
    It's been a thrilling ride, and I'm eager to continue pushing<br>
     the boundaries of what I can achieve in this dynamic field.
</p>
<div class="button" data-tooltip="Size: 370Kb" (click)="downloadFile()">
    <div class="button-wrapper">
      <div class="text" >Download CV</div>
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="2em" height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15V3m0 12l-4-4m4 4l4-4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17"></path></svg>
        </span>
      </div>
    </div>
</div>
